/* ====== This section is for Scholarship Demographics Section ====== */
/* ====== SHARED ====== */
.section-header {
  text-align: center;
  color: #520542;
  margin-top: 0.5rem;
}

.section-label {
  display: inline-block;
  background-color: white;
  padding: 10px 40px;
  color: #520542;
  font-weight: 700;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px -2px 5px gray;
}

.demographic-card {
  background-color: white;
  border-radius: 0px 10px 10px 10px;
  padding: 10px;
  box-shadow: 0px 0px 5px gray;
}

/* ====== KPI ====== */
.kpi-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
  grid-template-columns: repeat(1, 1fr);
}

/* ====== DASHBOARD LAYOUT ====== */
.demographic-section-ageGroup {
  margin-top: 1rem;
} 

.dashboard-row {
  display: grid;
  gap: 10px;
}

.dashboard-row.two-column {
  grid-template-columns: repeat(2, 1fr); 
}

.dashboard-column {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  margin-top: 10px;
  gap: 10px;
}

.dashboard-column.center {
  align-items:center;
}

.dashboard-column.center-vertical {
  justify-content: center;
} 

.dashboard-column.stretch > * {
  flex: 1;
}

/* ====== RESPONSIVE ====== */
@media (max-width: 768px) {
  .dashboard-row.two-column {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1200px) {
  .dashboard-row.two-column {
    grid-template-columns: 1fr;
  }
}

/* This section is for Scholarship Category Section */

.scholarship-category-wrapper {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 2px 5px gray;
}

.bar-chart-wrapper {
    margin-top: 10px;
    align-items: center;
}

.bar-section-header {
    text-align: center;
    color: #205781;
    font-size: 20px;
    margin: 0.5em 0 0.5rem 0;
}

.bar-chart-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 768px) {
    .bar-chart-container, .kpi-row {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .bar-chart-container {
        grid-template-columns: repeat(4, 1fr);
    }
}