.dashboard-header {
  width: 100%;
  min-height: 80px;
  background-color: #150e56;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  box-sizing: border-box;
  pointer-events: none;
}

.dashboard-header-logo {
  height: clamp(70px, 6vw, 96px);
  width: auto;
  padding: 5px;
}

.dashboard-header-text {
  flex: 1;
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  color: #8fd6e1;
  text-align: center;
  margin: 0 auto;
}